# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tasks_db?schema=public"

# Server
PORT=3000
NODE_ENV=development

# CORS - Multiple origins separated by comma
CORS_ORIGIN=http://localhost,http://127.0.0.1,http://localhost:3000,http://localhost:4000

